body {
    background-color: rgb(216, 216, 216);
}

.body {
    margin-left: 170px;
}

.todaymoney {
    margin-top: 20px;
    width: 1300px;
    height: 170px;
    background-color: rgb(239, 239, 239);

    .title {
        padding: 10px 0 10px 10px;
    }
    .box {
        float: left;
        display: inline-block;
        margin: 5px 0 5px 100px;
        width: 200px;
        height: 100px;
        background-color: white;
    }
    /* 营业额 */
    .money {
        padding: 10px 0 0 10px;
    }
    .symbol {
        padding-left: 10px;
        font-size: 30px;
    }
    .box_order {
        padding: 10px 0 0 10px;
    }
    .percent {
        padding: 10px 0 0 10px;
    }
    .users {
        padding: 10px 0 0 10px;
    }
}
.order {
    margin-top: 20px;
    width: 1300px;
    height: 150px;
    background-color: rgb(239, 239, 239);

    .order_title {
        padding: 10px 0 10px 10px;
    }
    .order_box {
        float: left;
        display: inline-block;
        margin: 5px 0 5px 32px;
        width: 220px;
        height: 80px;
        background-color: white;
        font-size: 20px;
        padding: 25px 10px;
    }
    
}
.menus_set {
    margin-top: 20px;
    width: 1300px;
    height: 150px;
    background-color: rgb(239, 239, 239);
}
.menus {
    float: left;
    width: 645px;
    height: 150px;
    background-color: rgb(239, 239, 239);

    .menus_title {
        padding: 10px 0 10px 10px;
    }
    .menus_much {
        float: left;
        margin: 5px 0 5px 32px;
        width: 220px;
        height: 80px;
        background-color: white;
        font-size: 20px;
        padding: 25px 10px;
    }
    .menus_stop {
        float: left;
        margin: 5px 0 5px 32px;
        width: 220px;
        height: 80px;
        background-color: white;
        font-size: 20px;
        padding: 25px 10px;
    }
    .add_menus {
        float: right;
        margin: 5px 20px 5px 20px;
        width: 100px;
        height: 80px;
        /* background-color: red; */
        font-size: 15px;
        padding: 0 20px;

        .add_menus_picture {
            margin-top: 10px;
            width: 60px;
            height: 60px;
            background-color: #fff;
            font-size: 20px;
            padding: 15px 10px;
            /* border-radius: 50%; */
        }

    }
}
.set {
    float: left;
    margin-left: 10px;
    width: 645px;
    height: 150px;
    background-color: rgb(239, 239, 239);

    .set_title {
        padding: 10px 0 10px 10px;
    }
    .set_much {
        float: left;
        margin: 5px 0 5px 32px;
        width: 220px;
        height: 80px;
        background-color: white;
        font-size: 20px;
        padding: 25px 10px;
    }
    .set_stop {
        float: left;
        margin: 5px 0 5px 32px;
        width: 220px;
        height: 80px;
        background-color: white;
        font-size: 20px;
        padding: 25px 10px;
    }
    .add_set {
        float: right;
        margin: 5px 20px 5px 20px;
        width: 100px;
        height: 80px;
        /* background-color: red; */
        font-size: 15px;
        padding: 0 20px;

        .add_set_picture {
            margin-top: 10px;
            width: 60px;
            height: 60px;
            background-color: #fff;
            font-size: 20px;
            padding: 15px 10px;
            /* border-radius: 50%; */
        }

    }
}

.ordermain {
    margin-top: 20px;
    width: 1300px;
    height: 600px;
    background-color: rgb(239, 239, 239);

    .ordermain_title {
        padding: 10px 0 10px 10px;
    }
}

.ordermain_main {
    background-color: rgb(239, 239, 239);
    width: 1300px;
    height: 500px;
}
.ordermain_table {
    background-color: white;
    width: 1300px;
    border-collapse: collapse;
    tr {
        font-size: 20px;
        text-align: center;
        height: 60px;
        
        th {
            border: 2px solid;
            
        }

        td {
            background-color: #fff;
        }
    }
}